div{
    height: 100px;
    width: 100px;
    background-color:beige;
    border: 2px;
    border-color: brown;
    display: inline-block;
}

@media (min-width:300px) {
    #box1{
        background-color: rgb(245, 191, 191);
    }
}

@media (min-width:300px) and (max-width:400px){
    #box2{
        background-color: black;
    }
}

@media (min-width:400px) and (max-width:600px) {
    #box3{

        background-color: yellow;
    }
}

@media (max-width:600px){
    #box4{
        background-color: greenyellow;
    }
}

.lodder{
    height: 200px;
    width: 200px;
    background-color: pink;
    border: 20px solid rgb(122, 122, 230) ;
    border-top: 20px solid rgb(178, 174, 174) ; 
    border-radius: 50%;
    animation: spin 2s ease-in 1s infinite normal;
    display: block;
    position: absolute;
    top: 150px;
    left: 150px;
}
@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}